.left {
  background-image: linear-gradient(to right, #379744, rgba(255, 255, 0, 0));
}

.right {
  background-image: linear-gradient(to left, #2dbd85, rgba(255, 255, 0, 0));
}

.btn-roll-down {
  margin: 100px auto;
}